html {
    touch-action: manipulation;
}

.home-page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .home-page-top {
        position: fixed;
        top: 0;
        z-index: 200;
        width: 100%;
        flex: 0;
    }

    .home-page-body {
        margin-top: 15vw;
        flex: 1;

        .home-page-body-nav {
            width: 20%;
            height: 100vh;
            position: fixed;
            z-index: 200;
            top: 15vw;
            left: 0;
        }

        .home-page-body-list {
            padding-left: 20%;
        }
    }

    .home-page-bottom {
        position: fixed;
        bottom: 0;
        z-index: 200;
        width: 100%;
        background-color: #ffffff;
    }
}

.adm-tabs-tab-list {
}

.adm-side-bar-item-highlight {
    display: none;
}

.adm-side-bar-item-active {
    color: #65b687;
}
