
.mobile-card-wrapper {
    width: 100vw;

    .mobile-collect-btn-false {
        font-size: 18px;
    }

    .mobile-info-wrapper {
        width: 90vw;
        display: flex;
        justify-content: space-between;

        .mobile-user-info {
            width: 145px;
            display: flex;
            justify-content: space-between;

            .mobile-user-avatar {
                cursor: pointer;
                height: 20vw;
                width: 20vw;
            }

            .mobile-user-name {
                color: black;
                font-size: 16px;
                font-weight: 700;
            }

            .mobile-publish-time {
                color: #8d8d8d;
                font-size: 14px;
            }
        }

        .mobile-user-region {
            color: #8d8d8d;
            font-size: 14px;
        }
    }

    .mobile-card-content {
        width: 90vw;
        margin-top: 20px;
        text-align: justify;
        font-size: 14px;
    }

    .mobile-card-footer {
        display: flex;
        justify-content: end;
        margin-right: 10vw;

        .mobile-footer-answer-nums {
            color: #8d8d8d;
            font-size: 14px;
        }
    }
}

.adm-card-body {
    padding: 0;
    padding-top: 3vw;
}

.adm-card-header {
    padding: 0;
}

.adm-card-header:not(:last-child) {
    border-bottom: solid 0px var(--adm-color-border);
}