header-menu {
    // margin-left: 20px;
}

.header-right-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 50px;

    .publish-btn {
        margin-left: 20%;
    }

    .community-name {
        color: aliceblue;
        width: 200;
    }

    .change-community-btn {
        height: 100%;
        background-color: white;
        // color: #87d068;
        // color: white;
        width: 160px;
        height: 32px;
        border-radius: 10px;
    }

    .user-wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        margin-right: -15%;
        margin-left: -5%;

        .tab-user-avatar {
            // style={{ backgroundColor: '#87d068' }}
            background-color: #041527;
            width: 42px;
            height: 42px;
            display: block;
        }
    }
}

.ant-select-selection {
    color: white;
}
